.toolbar-spacer {
  flex: 1 1 auto;
}

.nav {
  position: fixed;
  bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px 0;
  /* 버튼 위 아래 간격 조절 */
  background-color: #fff;
  /* 선택적으로 배경색 지정 */
}

.nav button {
  margin: 0 5px;
  /* 버튼 좌우 간격 조절 */
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}