table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  /* 양 끝에 요소들을 정렬 */
  align-items: center;
  /* 세로 중앙 정렬 */
}

.toolbar-spacer {
  flex: 1;
  /* 남는 공간을 모두 차지 */
}

.file-layout {
  margin-bottom: 3.6rem !important;
  overflow-y: scroll;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}