/* You can add global styles to this file, and also import other style files */
@import 'swiper/scss';
@import 'swiper/scss/pagination';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  all: initial;
  /* 모든 속성 초기화 */
  cursor: pointer;
  //@include mat.all-component-colors($snowrose-front-theme);
}

a {
  all: initial;
  cursor: pointer;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}