.swiper {
  width: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  position: relative;
  /* 텍스트 컨테이너를 위한 위치 지정 */
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  background-color: gray;
  border-radius: 20px;
  /* 라운드 처리 */
  display: flex;
  /* 텍스트를 중앙에 배치하기 위한 설정 */
  align-items: center;
  /* 세로 축 중앙 정렬 */
  justify-content: center;
  /* 가로 축 중앙 정렬 */
}

img {
  display: block;
  width: 100%;
  height: 100%;
  /* 이미지가 슬라이드의 크기를 채우도록 */
  border-radius: 20px;
  /* 이미지에도 라운드 처리 */
  object-fit: cover;
  /* 이미지 비율을 유지하면서 컨테이너에 맞춤 */
}

/* 추가된 스타일: 텍스트 컨테이너 */
.swiper-slide .text-container {
  position: absolute;
  width: 90%;
  /* 혹은 원하는 너비 */
  text-align: center;
  color: white;
  /* 텍스트 색상 */
  font-size: 16px;
  /* 텍스트 크기 */
  background-color: rgba(0, 0, 0, 0.5);
  /* 배경 투명도 */
  padding: 10px;
  border-radius: 15px;
  /* 컨테이너 라운드 처리 */
}